<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/sheetstyle.css">

    <title>{{rpgname}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mt-2 text-start">
                <a href="/" style="font-size: 21px;">Sair</a>
            </div>
            <div class="col mt-2 text-end">
                <a href="/sheet/1" style="font-size: 21px;">Acessar 1° Página</a>
            </div>
        </div>
        <div class="row h1 text-center justify-content-center">
            <div class="col mt-2">Perfil de {{playerrole}}</div>
        </div>
        <div class="row">
            <div class="col" style="border-style: solid; border-width: 1px; border-color: gray; border-radius: 20px;">
                <div class="row h2 mt-4">
                    <div class="col justify-content-center">Detalhes Pessoais</div>
                </div>
                {{#each extraInfo}}
                {{#with this}}
                <div class="row my-4">
                    <div class="col">
                        <div class="row">
                            <div class="col h4">
                                <label for="info{{extra_info_id}}">{{name}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control acds-element" id="info{{extra_info_id}}" rows="10"
                                    onchange="extraInfoChange(event, {{extra_info_id}})">{{value}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col mb-2 text-start">
                <a href="/" style="font-size: 21px;">Sair</a>
            </div>
            <div class="col mb-2 text-end">
                <a href="/sheet/1" style="font-size: 21px;">Acessar 1° Página</a>
            </div>
        </div>

        <!--Toasts and Modals-->
        {{> failuretoast}}

        <script src="/js/sheet2.js"></script>
    </div>
</body>

</html>