<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/sheetstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>{{rpgname}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mt-2 text-start">
                <a href="/" style="font-size: 21px;">Sair</a>
            </div>
            <div class="col mt-2 text-end">
                <a href="/sheet/2" style="font-size: 21px;">Acessar 2° Página</a>
            </div>
        </div>
        <div class="row h1 text-center">
            <div class="col">Perfil de {{playerrole}}</div>
        </div>
        <div class="row my-3">
            <div class="col acds-container">
                <div class="row mt-3 text-center">
                    <div class="col h2">Detalhes Pessoais</div>
                    <hr>
                </div>
                {{#each info}}
                {{#with this}}
                <div class="row mt-4">
                    <div class="col">
                        <div class="row mb-1">
                            <div class="col mx-2 h5"><label for="info{{info_id}}">{{name}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="acds-element acds-bottom-text" type="text" id="info{{info_id}}"
                                    value="{{value}}" onchange="infoChange(event, {{info_id}})">
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
            </div>
            <div class="col mt-3">
                <div class="row text-center">
                    <div class="col">
                        <img id="avatar" class="img-fluid rounded-circle acds-clickable" data-bs-toggle="modal"
                            data-bs-target="#uploadAvatar">
                    </div>
                    <div class="col align-self-center">
                        <img class="img-fluid acds-clickable" src="/assets/dice.png" data-bs-toggle="modal"
                            data-bs-target="#generalDiceRoll" style="max-height: 75px;">
                    </div>
                </div>
                <div class="row my-3 justify-content-center">
                    <div class="col">
                        <script>const avatarEval = new Map();</script>
                        {{#each attributes}}
                        {{#with this}}
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">{{name}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="progress acds-clickable" style="background-color: #{{bg_color}};"
                                            onclick="attributeBarClick(event, {{attribute_id}})">
                                            <div id="attributeBar{{attribute_id}}" class="progress-bar"
                                                role="progressbar"
                                                style="background-color: #{{fill_color}}; width: {{coeficient}}%;">
                                            </div>
                                        </div>
                                    </div>
                                    {{#if rollable}}
                                    <div class="col-auto align-self-center">
                                        <img class="acds-clickable"
                                            onclick="attributeDiceClick(event, {{attribute_id}})" src="/assets/dice.png"
                                            style="max-height: 40px;">
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="row text-center my-2" {{#if rollable}} style="width: 85%" {{/if}}>
                                    <div class="col">
                                        <input id="attributeIncrease{{attribute_id}}" type="button" value="+"
                                            onclick="attributeIncreaseClick(event, {{attribute_id}})"
                                            class="acds-element" style="border: solid 1px; width: 75px">
                                    </div>
                                    <div id="attributeDesc{{attribute_id}}" class="col" style="font-size: 22px;">
                                        {{value}}/{{max_value}}
                                    </div>
                                    <div class="col">
                                        <input id="attributeDecrease{{attribute_id}}" type="button" value="-"
                                            onclick="attributeDecreaseClick(event, {{attribute_id}})"
                                            class="acds-element" style="border: solid 1px; width: 75px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if status}}
                        <div class="row px-5">
                            {{#each status}}
                            {{#with this}}
                            <div class="col form-check">
                                <input class="form-check-input" type="checkbox" id="status{{attribute_status_id}}"
                                    onchange="attributeStatusChange(event, {{attribute_status_id}})" {{#if
                                    checked}}checked{{/if}}>
                                <label class="form-check-label" for="status{{attribute_status_id}}">{{name}}</label>
                            </div>
                            <script>avatarEval.set({{ attribute_status_id }}, {{ checked }})</script>
                            {{/with}}
                            {{/each}}
                        </div>
                        {{/if}}
                        {{/with}}
                        {{/each}}
                    </div>
                </div>
                <div class="row my-3 text-center">
                    <script>const specs = new Map();</script>
                    {{#each specs}}
                    {{#with this}}
                    <div class="col mt-3">
                        <div class="row">
                            <div class="col">
                                <input class="acds-element acds-bottom-text" type="text" id="spec{{spec_id}}"
                                    value="{{value}}" style="text-align: center; max-width: 120px; font-size: 25px;"
                                    onchange="specs.set('{{name}}', $(event.target).val()); specChange(event, {{spec_id}}); ">
                            </div>
                        </div>
                        <div class="row my-1">
                            <div id="specLabel{{spec_id}}" class="col">{{name}}</div>
                            <script>specs.set('{{name}}', '{{value}}');</script>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-3 text-center">
                    <div class="col h2">Características</div>
                    <hr>
                </div>
                <div class="row text-center">
                    {{#each characteristics}}
                    {{#with this}}
                    <div class="col my-3">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid acds-clickable" src="/assets/dice.png" {{#if rollable}}
                                    onclick="characteristicDiceClick(event, {{characteristic_id}})"
                                    style="max-height: 40px;" {{else}} style="max-height: 40px; visibility: hidden;"
                                    {{/if}}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">{{name}}</div>
                        </div>
                        <div class="row">
                            <div class="col"><input class="acds-element" type="text" maxlength="3"
                                    id="characteristic{{characteristic_id}}" value="{{value}}"
                                    style="outline: 0; border-width: 0 0 1px; text-align: center; max-width: 120px; font-size: 25px;"
                                    onchange="characteristicChange(event, {{characteristic_id}})">
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-3">
                    <div class="col offset-1 h2 text-center">Combate</div>
                    <div class="col-1 text-end">
                        <input type="button" value="+" class="acds-element"
                            style="border: solid 1px; position: relative; right: 20px;" data-bs-toggle="modal"
                            data-bs-target="#addEquipment">
                    </div>
                    <hr>
                </div>
                <div class="row my-3">
                    <div class="col table-responsive text-center">
                        <table class="table table-dark" style="--bs-table-bg: black">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Usando</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Dano</th>
                                    <th scope="col"></th>
                                    <th scope="col">Alcance</th>
                                    <th scope="col">Ataques</th>
                                    <th scope="col">Mun. Atual</th>
                                    <th scope="col">Mun. Máxima</th>
                                    <th scope="col">Defeito</th>
                                </tr>
                            </thead>
                            <tbody id="equipmentTable">
                                {{#each equipments}}
                                {{> equipments this}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-3">
                    <div class="col offset-1 h2 text-center">Perícias</div>
                    <div class="col-1 text-end">
                        <input type="button" value="+" class="acds-element"
                            style="border: solid 1px; position: relative; right: 20px;" data-bs-toggle="modal"
                            data-bs-target="#addSkill" />
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="search" class="form-control acds-element mb-3" placeholder="Procurar"
                            oninput="skillSearchBarInput(event);" />
                    </div>
                </div>
                <div id="skillTable" class="row text-center">
                    {{#each skills}}
                    {{> skills this}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-3">
                    <div class="col offset-1 h2 text-center">Inventário</div>
                    <div class="col-1 text-end">
                        <input type="button" value="+" class="acds-element"
                            style="border: solid 1px; position: relative; right: 20px;" data-bs-toggle="modal"
                            data-bs-target="#addItem">
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row text-center my-3">
                {{#each finances}}
                {{#with this}}
                <div class="col">
                    {{name}}: <input class="acds-element acds-bottom-text" type="text" id="finance{{finance_id}}"
                        value="{{value}}" style="outline: 0; border-width: 0 0 1px; max-width: 120px;"
                        onchange="financeChange(event, {{finance_id}})">
                </div>
                {{/with}}
                {{/each}}
            </div>
            <div class="row my-3">
                <div class="col table-responsive">
                    <table class="table table-dark" style="--bs-table-bg: black">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrição Pessoal</th>
                            </tr>
                        </thead>
                        <tbody id="itemTable">
                            {{#each items}}
                            {{> items this}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2 text-start">
                <a href="/" style="font-size: 21px;">Sair</a>
            </div>
            <div class="col mb-2 text-end">
                <a href="/sheet/2" style="font-size: 21px;">Acessar 2° Página</a>
            </div>
        </div>
    </div>

    <div>
        {{> failuretoast}}

        {{> generaldice}}

        {{> diceroll}}

        <div class="modal fade" id="uploadAvatar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="event.preventDefault(); uploadAvatarClick(event); this.reset();">
                        <div class="modal-header">
                            <h5 class="modal-title">Atualizar Avatar</h5>
                        </div>
                        <div class="modal-body text-center">
                            {{> loading}}
                            <div id="uploadAvatarContainer" class="container-fluid">
                                <script>const avatarElements = new Map();</script>
                                {{#each avatars}}
                                {{#with this}}
                                <div class="row my-3">
                                    <div class="col">
                                        <label for="avatarLink{{avatar_id}}">Link de Avatar {{name}}</label>
                                        <input id="avatarLink{{avatar_id}}" type="text" autocomplete="off"
                                            class="acds-element form-control" value="{{link}}"
                                            style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                    </div>
                                </div>
                                <script>avatarElements.set({{ avatar_id }}, $('#avatarLink{{avatar_id}}'));</script>
                                {{/with}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="uploadAvatarButton" type="submit" class="btn btn-primary">Atualizar</button>
                            <button id="uploadAvatarCloseButton" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="event.preventDefault(); createEquipmentClick(event); this.reset();">
                        <div class="modal-header">
                            <h5 class="modal-title">Criar Equipamento</h5>
                        </div>
                        <div class="modal-body text-center">
                            {{> loading}}
                            <div id="createEquipmentContainer" class="container-fluid">
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentName" type="text" autocomplete="off"
                                            placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentDamage" type="text" autocomplete="off"
                                            placeholder="Dano" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentRange" type="text" autocomplete="off"
                                            placeholder="Alcance" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentAttacks" type="text" autocomplete="off"
                                            placeholder="Ataques" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentAmmo" type="text" autocomplete="off"
                                            placeholder="Munição" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <input id="createEquipmentMalf" type="text" autocomplete="off"
                                            placeholder="Defeito" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col my-2">
                                        <label for="combatSpecializationList">Especialização</label>
                                        <select id="combatSpecializationList" class="form-select acds-element my-2">
                                            {{#each combatSpecializations}}
                                            {{#with this}}
                                            <option value="{{skill_id}}">{{name}}</option>
                                            {{/with}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="createEquipmentButton" type="submit" class="btn btn-primary">Criar</button>
                            <button id="createEquipmentCloseButton" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="event.preventDefault(); createSkillClick(event); this.reset();">
                        <div class="modal-header">
                            <h5 class="modal-title">Criar Perícia</h5>
                        </div>
                        <div class="modal-body text-center">
                            {{> loading}}
                            <div id="createSkillContainer" class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <input id="createSkillName" type="text" autocomplete="off"
                                            placeholder="Nome da Perícia" class="my-2" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="createSkillSpecialization">Especialização</label>
                                        <select id="createSkillSpecialization" class="form-select acds-element my-2">
                                            <option value="0" selected>Nenhum</option>
                                            {{#each specializations}}
                                            {{#with this}}
                                            <option id="createSkillOption{{specialization_id}}"
                                                value="{{specialization_id}}">
                                                {{name}}</option>
                                            {{/with}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="createSkillButton" type="submit" class="btn btn-primary">Criar</button>
                            <button id="createSkillCloseButton" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="event.preventDefault(); createItemClick(event); this.reset();">
                        <div class="modal-header">
                            <h5 class="modal-title">Criar Item</h5>
                        </div>
                        <div class="modal-body text-center">
                            {{> loading}}
                            <div id="createItemContainer" class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <input id="createItemName" type="text" autocomplete="off" placeholder="Nome"
                                            class="my-2" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <textarea class="acds-element form-control" id="createItemDescription"
                                            placeholder="Descrição Inicial" rows="3" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="createItemButton" class="btn btn-primary">Criar</button>
                            <button id="createItemCloseButton" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Equipamento</h5>
                    </div>
                    <div class="modal-body">
                        {{> loading}}
                        <div id="addEquipmentContainer" class="container-fluid">
                            <select id="addEquipmentList" class="form-select acds-element">
                                {{#each availableEquipments}}
                                {{#with this}}
                                <option id="addEquipmentOption{{equipment_id}}" value="{{equipment_id}}">
                                    {{name}}
                                </option>
                                {{/with}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addEquipmentCreate" type="button" class="btn btn-info" data-bs-dismiss="modal"
                            data-bs-toggle="modal" data-bs-target="#createEquipment">Criar Equipamento</button>
                        <button id="addEquipmentButton" onclick="addEquipmentClick(event)" class="btn btn-primary"
                            {{#unless availableEquipments}}disabled{{/unless}}>Adicionar</button>
                        <button id="addEquipmentCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Perícia</h5>
                    </div>
                    <div class="modal-body text-center">
                        {{> loading}}
                        <div id="addSkillContainer" class="container-fluid">
                            <select id="addSkillList" class="form-select acds-element">
                                {{#each availableSkills}}
                                {{#with this}}
                                <option id="addSkillOption{{skill_id}}" value="{{skill_id}}">{{name}}</option>
                                {{/with}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addSkillCreateButton" type="button" class="btn btn-info" data-bs-dismiss="modal"
                            data-bs-toggle="modal" data-bs-target="#createSkill">Criar
                            Perícia</button>
                        <button id="addSkillButton" onclick="addSkillClick(event)" class="btn btn-primary" {{#unless
                            availableSkills}}disabled{{/unless}}>Adicionar</button>
                        <button id="addSkillCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Item</h5>
                    </div>
                    <div class="modal-body">
                        {{> loading}}
                        <div id="addItemContainer" class="container-fluid">
                            <select id="addItemList" class="form-select acds-element">
                                {{#each availableItems}}
                                {{#with this}}
                                <option id="addItemOption{{item_id}}" value="{{item_id}}">{{name}}</option>
                                {{/with}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#createItem">Criar Novo Item</button>
                        <button id="addItemButton" onclick="addItemClick(event)" class="btn btn-primary" {{#unless
                            availableItems}}disabled{{/unless}}>Adicionar</button>
                        <button id="addItemCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/sheet1.js"></script>
</body>

</html>