<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/assets/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="/socket.io/socket.io.js"></script>
    <script>const socket = io();</script>

    <title>{{rpgname}}</title>
    <style>
        .data {
            font-size: 28px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row h1 text-center d-flex justify-content-center">
            <div class="col mt-3">Administrador</div>
        </div>

        <div class="row justify-content-center">
            {{#if players}}
            {{#each players}}
            {{#with this}}
            <div class="col my-3 mx-3 text-center" style="background-color: rgb(53, 58, 64); max-width: 350px;">
                <div class="row my-3 ">
                    <div class="col">
                        <img id="avatar-{{playerID}}" class="img-fluid rounded-circle" src="{{avatar}}"
                            style="max-height: 250px; border: solid 1px white;">
                    </div>
                </div>
                <div class="row my-3 ">
                    <div id="info-{{playerID}}-{{infoID}}" class="col data" style="font-size: 24px;">
                        {{name}}
                    </div>
                </div>
                {{#each attributes}}
                {{#with this}}
                <div class="row my-3 ">
                    <div class="col">
                        <div class="row">
                            <div id="attribute-{{../playerID}}-{{attribute_id}}" class="col data"
                                style="color: #{{fill_color}};">
                                {{value}}/{{max_value}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{name}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
                <div class="row my-3 ">
                    <div class="col">
                        <div class="row">
                            <div id="characteristic-{{playerID}}-{{charID}}" class="col data">
                                {{mov}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Movimento
                            </div>
                        </div>
                    </div>
                </div>
                {{#if items}}
                <div class="row my-3 ">
                    <div class="col">
                        <div class="row">
                            <div id="inventory-{{playerID}}" class="col">
                                <hr>
                                <div class="row">
                                    <div class="col data">
                                        Inventário
                                    </div>
                                </div>
                                <table class="table table-sm table-borderless"
                                    style="background-color: rgb(53, 58, 64); color: white;">
                                    <tbody id="tableBody-{{playerID}}">
                                        {{#each items}}
                                        {{#with this}}
                                        <tr id="item-{{../playerID}}-{{item_id}}">
                                            <td>
                                                {{name}}
                                            </td>
                                        </tr>
                                        {{/with}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
            {{/with}}
            {{/each}}
            {{else}}
            <div class="col text-center" style="color: gray;">
                Não há nenhum player cadastrado.
            </div>
            {{/if}}
        </div>
    </div>
    {{> failureToast}}

    <script src="/js/admin.js"></script>
</body>

</html>