<div class="row">
    <div class="row">
        <div class="col">{{name}}</div>
    </div>
    <div class="row">
        <div class="col">
            <div class="progress acds-clickable" style="height: 40px; background-color: #{{bg_color}};"
                onclick="attributeBarClick(event, {{attribute_id}})">
                <div id="attributeBar{{attribute_id}}" class="progress-bar" role="progressbar" aria-valuenow="{{value}}"
                    aria-valuemin="0" aria-valuemax="{{max_value}}"
                    style="background-color: #{{fill_color}}; width: {{coeficient}}%;"></div>
            </div>
        </div>
        {{#if rollable}}
        <div class="col-1 align-self-center">
            <img class="acds-clickable" onclick="attributeDiceClick(event, {{attribute_id}})" src="/assets/dice.png"
                style="max-height: 35px; position: relative; right: 15px;"> {{!Just a little hack.}}
        </div>
        {{/if}}
    </div>
    <div class="row text-center my-2" {{#if rollable}} style="width: 85%" {{/if}}>
        <div class="col">
            <input id="attributeIncrease{{attribute_id}}" type="button" value="+"
                onclick="attributeIncreaseClick(event, {{attribute_id}})" class="acds-element"
                style="border: solid 1px; width: 75px">
        </div>
        <div id="attributeDesc{{attribute_id}}" class="col" style="font-size: 22px;">
            {{value}}/{{max_value}}
        </div>
        <div class="col">
            <input id="attributeDecrease{{attribute_id}}" type="button" value="-"
                onclick="attributeDecreaseClick(event, {{attribute_id}})" class="acds-element"
                style="border: solid 1px; width: 75px">
        </div>
    </div>
</div>
{{#if status}}
<div class="row px-5">
    {{#each status}}
    {{#with this}}
    <div class="col form-check">
        <input class="form-check-input" type="checkbox" id="status{{attribute_status_id}}"
            onchange="attributeStatusChange(event, {{attribute_status_id}})" {{#if checked}}checked{{/if}}>
        <label class="form-check-label" for="status{{attribute_status_id}}">{{name}}</label>
    </div>
    <script>avatarEval.set({{attribute_status_id}}, {{checked}})</script>
    {{/with}}
    {{/each}}
</div>
{{/if}}