<tr id="equipmentRow{{equipment_id}}">
    <td>
        <button class="acds-element" onclick="deleteEquipmentClick(event, {{equipment_id}});"><i
                class="bi bi-trash"></i></button>
    </td>
    <td>
        <input id="equipmentUsing{{equipment_id}}" class="form-check-input" type="checkbox" style=""
            onchange="equipmentUsingChange(event, {{equipment_id}});" {{#if using}}checked{{/if}}>
    </td>
    <td id="equipmentName{{equipment_id}}">{{name}}</td>
    <td>{{skill_name}}</td>
    <td id="equipmentDamage{{equipment_id}}">{{damage}}</td>
    <td>
        <img class="acds-clickable align-self-center" src="/assets/dice.png" style="max-height: 30px;"
            onclick="equipmentDiceClick(event, {{equipment_id}})">
    </td>
    <td>{{range}}</td>
    <td>{{attacks}}</td>
    <td>
        <input id="equipmentAmmo{{equipment_id}}" class="acds-element" type="text" value="{{current_ammo}}"
            style="max-width: 50px; border: none;" onchange="equipmentAmmoChange(event, {{equipment_id}})">
    </td>
    <td id="equipmentMaxAmmo{{equipment_id}}">{{ammo}}</td>
    <td>{{malfunc}}</td>
</tr>