<div id="skillContainer{{skill_id}}" class="col my-4 acds-clickable skill-container" style="border-radius: 20px;">
    <div class="row">
        <div class="col">
            <input id="skillCheck{{skill_id}}" type="checkbox" class="form-check-input"
                onchange="skillCheckChange(event, {{skill_id}})" {{#if checked}}checked{{/if}}>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="acds-element" type="text" id="skill{{skill_id}}" value="{{value}}" maxlength="3"
                style="outline: 0; border-width: 0 0 1px; text-align: center; max-width: 80px; font-size: 18px;"
                onchange="skillChange(event, {{skill_id}})">
        </div>
    </div>
    <div class="row h-75">
        <div id="skillLabel{{skill_id}}" class="col disable-select skill-label"
            onclick="skillDiceClick(event, {{skill_id}})" style="font-size: 16px;">{{name}}</div>
    </div>
</div>