<div class="col mt-3">
    <div class="row">
        <div class="col">
            <input class="acds-element acds-bottom-text" type="text" id="spec{{spec_id}}" value="{{value}}"
                style="text-align: center; max-width: 120px; font-size: 25px;"
                onchange="specs.set('{{name}}', $(event.target).val()); specChange(event, {{spec_id}}); ">
        </div>
    </div>
    <div class="row my-1">
        <div id="specLabel{{spec_id}}" class="col">{{name}}</div>
        <script>specs.set('{{name}}', '{{value}}');</script>
    </div>
</div>